.app {
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: max(0.74vw, 10px);
}

.title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: max(4.5vmin, 1.75em);
  color: #111111;
}

.boardRow {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  gap: max(0.74vw, 8px);
}

.board {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  gap: max(0.74vw, 8px);
  background: #C6D6E9;
  padding: max(0.74vw, 8px);
  border-radius: max(0.74vw, 8px);
}

.appBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: max(0.74vw, 10px);
  flex-wrap: wrap;
}

.scoreContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.redScore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49.8%;
  background: #FF4547;
  border-radius: max(0.74vw, 8px);

  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: max(2.6vmin, 1em);
  color: #FFFFFF;
}

.greenScore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49.8%;
  background: #51C529;
  border-radius: max(0.74vw, 8px);

  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: max(2.6vmin, 1em);
  color: #FFFFFF;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: max(0.74vw, 10px);
}

.statusCaption {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: max(2.6vmin, 1em);
  color: #111111;
}

.playAgainCaption {
  border-radius: max(0.74vw, 10px);
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.1s;
  cursor: pointer;
  background: #ffcd68;
  text-decoration: none;

  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: max(2.6vmin, 1em);
  color: #111111;
}

.playAgainCaption:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}