.gameBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: max(2.22vw, 30px);
    flex-wrap: wrap;
}

.titleContainer {
    display: flex;
    height: max(4.5vmin, 1.75em);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  
.tittleIcon {
    height: 115%;
    width: height;
    margin-bottom: -0.1875em;
    -webkit-user-select: none;
    user-select: none;
}

.selectDifficultyCaption {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125em;
    color: #111111;
}

.buttonSelectLevel {
    display: flex;
    box-sizing: border-box;
    width: 293px;
    height: 60px;
    border-radius: 10px;
    border: none;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: all 0.1s;
    cursor: pointer;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    color: #111111;
}

.buttonSelectLevelIcon {
    width: 58px;
    height: 58px;
    margin-right: 7px;
    margin-bottom: -6px;
    -webkit-user-select: none;
    user-select: none;
}

.buttonSelectLevel:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}