.square {
  display: flex;
  box-sizing: border-box;
  width: 8vmin;
  height: 8vmin;
  min-width: 30px;
  min-height: 30px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.squareIcon {
  width: 80%;
  height: 80%;
  min-width: 24px;
  min-height: 24px;
}
