.square {
  display: flex;
  box-sizing: border-box;
  width: 8vmin;
  height: 8vmin;
  min-width: 30px;
  min-height: 30px;
  border-radius: max(0.3vw, 4px);
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
}

.squareIcon {
  width: 80%;
  height: 80%;
  -webkit-user-select: none;
  user-select: none;
}

.horseSquareSelected {
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  width: 8vmin;
  height: 8vmin;
  min-width: 30px;
  min-height: 30px;
  border-radius: max(0.74vw, 10px);
  border: max(0.44vw, 6px) solid #C6D6E9;
  align-items: center;
  justify-content: center;
}

.freeDarkSquare {
  display: flex;
  box-sizing: border-box;
  width: 8vmin;
  height: 8vmin;
  min-width: 30px;
  min-height: 30px;
  border-radius: max(0.3vw, 4px);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.freeDarkSquare:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}